<?php if(!defined('BATTLE')) die('Доступ запрещен!'); ?>
<?echo time(); echo'| '; echo time()+(HOURS*60*60);?><br>
<link rel="stylesheet" href="template/assets/style.css" type="text/css" />
<?if($this->error):?>
    <div class="error">
        <?php echo $this->error; ?>
    </div>
<?else:?>
<span style="color: blue">Помощь: </span><br>
Суть фото батлов такая же, как и
в дуэлях, но теперь в одной
дуэли(батле) участвует до <?=MAX;?> человек (одного пола).<br>
Батлы могут создавать только
VIP пользователи. Батл длится
ровно сутки. Если на сайте,
больше <?=MAXNONACTIVE;?> не начатых батлов
одного пола, создать батл невозможно. Вступить в батл
может любой пользователь
сайта. Один VIP пользователь
может создать не более одного
активного фото батла.<br>
Пользователи сайта определяют
лучшего участника путем
голосования, за каждый голос,
пользователи получают <?=POINTS;?>% рейтинга (Голосовать можно
только за батлы
противоположного пола). <br>
В каждом батле есть два
призовых места. Им начисляется рейтинг в размере набранных голосов. Остальные не получают ничего.<br>
<span style="color: red">ПРАВИЛА: </span><br>
1)К батлам допускаются анкеты обитателей содержащие аватар,соответствующий правилам сайта. <br>
2)Если во время проведения батла, анкета 4-ёх из 5-ти участников была по тем или иным причинам удалена или забанена, данный батл снимается с голосования(удаляется)<br>
3)На аватаре не должно быть надписей содержащих названия других сайтов, данный аватар подлежит удалению без предупреждения.<br>
4)Запрещено проведения батла одного обитателя с нескольких анкет. Подобные анкеты так же снимаются с голосования(удаляются), а вторая анкета данного пользователя подлежит блокировке.<br>
5)Запрещено создание дополнительных анкет одного и того-же пользователя с целью набора голосов при участиях в батлах.<br>
6)Если один из пользователей по каким-либо причинам забанен более чем на сутки, он снимается с голосования в батле.<br>
7)Батл не должен содержать интим фото, такие аватары удаляются.<br>
8)Если пользователи, которые на батле и не соблюдают правила, этот пользователь снимается голосования.<br>
9)Фото или картинки, которые содержат слова матерного характера, также удаляются. <br><br>
<?endif;?>
<div class="page_foot">
    - <img src="template/assets/my.png" class="icon"> <a href="?view=my">Мой батл</a><br>
    - <img src="template/assets/join.png" class="icon"> <a href="?view=join">Присоединиться</a><br>
    - <img src="template/assets/active.png" class="icon"> <a href="?view=active">Все активные батлы</a> (<strong><?echo $this->activec; ?></strong>)<br>
    - <img src="template/assets/wait.png" class="icon"> <a href="?view=waiting">Ожидающие противников батлы</a> (<strong><?echo $this->deactivec; ?></strong>)<br>
</div>
<div class="str">
    <img src="template/assets/rules.png" class="icon"> <b>Правила батлов</b>
    <img src="template/assets/back.png" class="icon"> <a href="?view=index">Назад к участникам</a>
</div>